*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.container{
  width: 800px;
  height: auto;
  border: solid 1px;
  background-color: gray;
  margin: 20px;
}
.opcion{
  background-color: red;
}